:root {
  --pri: #e3e3e3;
  --sec: #1b3c53;
  --tri1: #456882;
  --tri2: #234c6a;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./fonnts.com-Aeonik_Light.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./fonnts.com-Aeonik_Regular.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./fonnts.com-Aeonik_Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background: var(--sec);
}

h1 {
  font-family: aeonik;
  font-weight: 700;
  color: var(--pri);
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri1);
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

.elem {
  background-color: var(--tri2);

  height: 400px;
  width: 300px;
  font-size: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 5%;
  font-weight: 500;
  font-size: 33px;
  right: 5%;
}

.elem:active {
  scale: 0.97;
}
